
.post-card {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.post-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1d4ed8;
}

.post-owner {
  font-size: 0.875rem;
  color: #6b7280; 
  margin-bottom: 0.5rem;
}

.post-content {
  color: #1f2937;}


  .post-image {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.read-btn,
.delete-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.read-btn {
  background-color: #0c0c0c;
  color: white;
}

.delete-btn {
  background-color: #0f0f0f;
  color: white;
}